.navBar {
  padding: 1em;
  background-color: #333332;
  height: 830px;
  overflow: hidden;
  width: 90px;
  position: fixed;
  transition: all .5s;
  border-radius: 10px;
  z-index: 1;
}
.navBar:hover{
  width:220px
}
.menuButton{
  margin-left: 5px;
  background: none;
  border:none;
  color: white;
  font-size: large;
  transition: all .5s;
  margin-bottom: 1px;
  overflow: hidden;
}
.menuButton:hover{
  border-radius:1px solid;
  border-radius: 5px 5px;
}
.navLabels{
  margin-left: 30px;
  font-size: large;
  text-align: right;
}
.pnavLabels{
  margin-left: 80px;
  font-size: large;
  text-align: right;
}
.eachForm{
    margin-top: 10px;
    background-color: #333332;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    padding: 3em;
    color: white;
    text-align: left;
    margin-left: 5.2%;
    position: relative;
    transition: all 0.5s;
    overflow:hidden;
}

.formName{
    font-size: x-large;
}

.view{
    position: absolute;
    bottom: 10%;
    left: 18%;
    font-size: large;
}
.edit{
    position: absolute;
    bottom: 10%;
    left: 65%;
    font-size: large;
}